exclude .gitignore
exclude .idea
exclude venv
exclude sample.ddl
exclude Untitled.ipynb
include README.rst
include setup.cfg
prune .cache
prune .git
prune build
prune dist
recursive-exclude *.egg-info *
recursive-include tests *